@model NBAMvc1._1.ViewModels.FantasyLeagueDetailsViewModel;

@{
    ViewData["Title"] = "Details";
}

    <div class="container container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3>@Model.FantasyLeague.Name</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <span style="color:red">@(Model.FantasyLeague.isFull == false ? "Open" : "Full")</span>
            </div>
            <div class="col-md-4">
                <span style="color:red">Commissioner: @Model.FantasyLeague.ComissionerNav.UserName</span>
            </div>
        </div>
        <div class="row">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Pos</th>
                        <th>Name</th>
                        <th>Owner</th>
                        <th>Record</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(KeyValuePair<int, MyTeam> entry in Model.Teams)
                    {
                    <tr>
                        <td>@entry.Key</td>
                        <td>@(entry.Value == null ? "" : entry.Value.Name)</td>
                        <td>@(entry.Value == null ? "" : entry.Value.UserNav.Email)</td>
                        <td>####</td>
                        @if (entry.Value == null)
                        {
                            <td> <a asp-controller="FantasyLeagues" asp-action="AddTeam" asp-route-id="@Model.FantasyLeague.FantasyLeagueID" asp-route-myTeam="@entry.Value" class="btn btn-success">Add</a></td>
                        }
                        else
                        {
                            <td>
                                <form asp-controller="MyTeams" asp-action="Delete">
                                    <button asp-controller="MyTeams" asp-action="Delete" asp-route-id="@entry.Value.MyTeamID" class="btn btn-danger">Remove</button>
                                </form>
                            </td>
                        }
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.FantasyLeague.FantasyLeagueID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
