@model IEnumerable<NBAMvc1._1.Models.FantasyLeague>
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService


@{
    ViewData["Title"] = "Index";
}

    <div class="container container-fluid bg-white">
        <div class="row">
            <div class="col-md-12">
                <h3>Active Leagues</h3>
            </div>
        </div>
        @if ((await AuthorizationService.AuthorizeAsync(User, "AdminOnly")).Succeeded)
        {
            <div class="row">
                <div class="col-md-2">
                    <a asp-action="Create">Create New</a>
                </div>
            </div>
        }
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var t in Model)
                        {
                            <tr>
                                <td><a asp-action="Details" asp-route-id="@t.FantasyLeagueID">@t.Name</a></td>
                                <td>@(t.IsFull ? "Closed" : "Open")</td>
                                <td>
                                    @if (!t.IsFull)
                                    {
                                        <a asp-controller="MyTeams" asp-action="Create" asp-route-leagueID="@t.FantasyLeagueID" class="btn btn-primary">Join</a>
                                    }
                                    else
                                    {
                                        <a asp-controller="FantasyLeagues" asp-action="Details" asp-route-id="@t.FantasyLeagueID" class="btn btn-primary">View</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
