@model NBAMvc1._1.Models.Game


<div class="card">
    <div class="card-header text-center">
        <a asp-controller="Games" asp-action="Details" asp-route-id="@Model.GameID">@Model.DateTime</a>
        <h6>Spread: @Model.PointSpread</h6>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <td></td>
                    <td>Spread</td>
                    <td>Line</td>
                    <td>O/U</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><img src="@Model.AwayTeamNav.WikipediaLogoUrl" class="teamLogoSM" /></td>
                    <td>@(Model.PointSpread > 0 ? Model.PointSpread.ToString() : "")</td>
                    <td>@Model.AwayTeamMoneyLine</td>
                    <td>@Model.OverUnder</td>
                </tr>
                <tr>
                    <td><img src="@Model.HomeTeamNav.WikipediaLogoUrl" class="teamLogoSM" /></td>
                    <td>@(Model.PointSpread < 0 ? Model.PointSpread.ToString() : "")</td>
                    <td>@Model.HomeTeamMoneyLine</td>
                    <td>@Model.OverUnder</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer text-center">
        <a asp-controller="Games" asp-action="Details" asp-route-id="@Model.GameID">Preview</a>
    </div>
</div>

