@model NBAMvc1._1.Models.Game

@{
    ViewData["Title"] = "Details";
}

    <div class="container container-fluid bg-white">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 offset-2">
                                <a asp-controller="Teams" asp-action="Details" asp-route-id="@Model.AwayTeamID"><img src="@Model.AwayTeamNav.WikipediaLogoUrl" class="teamLogo" /></a>
                                @Model.AwayTeamNav.FullName
                                <span style="font-size:large">@Model.AwayTeamScore</span>
                            </div>
                            <div class="col-md-3 offset-1">
                                <a asp-controller="Teams" asp-action="Details" asp-route-id="@Model.HomeTeamID"><img src="@Model.HomeTeamNav.WikipediaLogoUrl" class="teamLogo" /></a>
                                @Model.HomeTeamNav.FullName
                                <span style="font-size:large">@Model.HomeTeamScore</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @if (!Model.Status.StartsWith("F")){
                    @await Html.PartialAsync("_DetailsBefore", Model)
                }
                else
                {
                    @await Html.PartialAsync("_DetailsAfter", Model)
                }
            </div>
        </div>
    </div>
