@model NBAMvc1._1.ViewModels.GameIndexViewModel

@{
    ViewData["Title"] = "Index";
    int count = 0;
}

<div class="container container-fluid">
    <div class="row">
        <div class="col-md-8 offset-1">
            <h4 class="text-center">Schedule</h4>
            <div class="text-center game-index-dates">
                <a class="btn btn-primary" asp-action="Index" asp-route-dayOf="@Model.dayOf.Value.AddDays(-1)">@Model.dayOf.Value.AddDays(-1).ToShortDateString()</a>
                <span style="margin: 0px 5px 5px 5px;">@Model.dayOf.Value.ToShortDateString()</span>

                <a class="btn btn-primary" asp-action="Index" asp-route-dayOf="@Model.dayOf.Value.AddDays(1)">@Model.dayOf.Value.AddDays(1).ToShortDateString()</a>
            </div>

            @foreach (var g in Model.Games)
            {
                @if (Model.dayOf.Value < DateTime.Today)
                {
                    @await Html.PartialAsync("_IndexAfter", g, new ViewDataDictionary(ViewData) { { "a", Model.Leaders[count++] }, {"b", Model.Leaders[count++]} } )
                }
                else
                {
                    @await Html.PartialAsync("_IndexBefore", g)
                }
            }
        </div>
    </div>
</div>
