@model NBAMvc1._1.ViewModels.GameIndexViewModel

@{
    ViewData["Title"] = "Index";

}

<div class="container container-fluid">
    <div class="row">
        <div class="col-md-8 offset-1">
            <h4 class="text-center">Schedule</h4>
            <div class="text-center game-index-dates">
                <a class="btn btn-primary" asp-action="Index" asp-route-dayOf="@Model.dayOf.Value.AddDays(-1)">@Model.dayOf.Value.AddDays(-1).ToShortDateString()</a>
                <span style="margin: 0px 5px 5px 5px;">@Model.dayOf.Value.ToShortDateString()</span>

                <a class="btn btn-primary" asp-action="Index" asp-route-dayOf="@Model.dayOf.Value.AddDays(1)">@Model.dayOf.Value.AddDays(1).ToShortDateString()</a>
            </div>

            @foreach (var g in Model.Games)
            {
                <div class="card">
                    <div class="card-header text-center">
                        <a asp-controller="Games" asp-action="Details" asp-route-id="@g.GameID">@g.DateTime</a>
                        <h6>Spread: @g.PointSpread</h6>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <td></td>
                                    <td>Spread</td>
                                    <td>Line</td>
                                    <td>O/U</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><img src="@g.AwayTeamNav.WikipediaLogoUrl" class="teamLogoSM" /></td>
                                    <td>@(g.PointSpread > 0 ? g.PointSpread.ToString() : "")</td>
                                    <td>@g.AwayTeamMoneyLine</td>
                                    <td>@g.OverUnder</td>
                                </tr>
                                <tr>
                                    <td><img src="@g.HomeTeamNav.WikipediaLogoUrl" class="teamLogoSM" /></td>
                                    <td>@(g.PointSpread < 0 ? g.PointSpread.ToString() : "")</td>
                                    <td>@g.HomeTeamMoneyLine</td>
                                    <td>@g.OverUnder</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer text-center">
                        <a asp-controller="Games" asp-action="Details" asp-route-id="@g.GameID">Preview</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
