@model IEnumerable<NBAMvc1._1.Models.Standings>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Wins)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Losses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Percentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConferenceWins)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConferenceLosses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DivisionWins)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DivisionLosses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeWins)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HomeLosses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwayWins)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AwayLosses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastTenWins)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastTenLosses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Streak)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GamesBack)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamNav)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Wins)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Losses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Percentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConferenceWins)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConferenceLosses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DivisionWins)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DivisionLosses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeWins)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeLosses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwayWins)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwayLosses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastTenWins)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastTenLosses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Streak)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GamesBack)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamNav.Key)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TeamID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TeamID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TeamID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
