@model IEnumerable<NBAMvc1._1.Models.Standings>

@{
    ViewData["Title"] = "Index";

}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>2019 NBA Standings</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            @Html.ActionLink("Eastern", "Index", new { filter = "Eastern" }, new { @class = "btn btn-primary"})
        </div>
        <div class="col-md-1">
            @Html.ActionLink("Western", "Index", new { filter = "Western" }, new { @class = "btn btn-primary"})
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <h2>@ViewData["Filter"] Confernce</h2>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>@Html.DisplayNameFor(m => m.TeamNav.FullName)</td>
                        <td>@Html.DisplayNameFor(m => m.Wins)</td>
                        <td>@Html.DisplayNameFor(m => m.Losses)</td>
                        <td>@Html.DisplayNameFor(m => m.Percentage)</td>
                        <td>@Html.DisplayNameFor(m => m.GamesBack)</td>
                        <td>@Html.DisplayNameFor(m => m.ConferenceRecord)</td>
                        <td>@Html.DisplayNameFor(m => m.DivisionRecord)</td>
                        <td>@Html.DisplayNameFor(m => m.HomeRecord)</td>
                        <td>@Html.DisplayNameFor(m => m.AwayRecord)</td>
                        <td>@Html.DisplayNameFor(m => m.LastTen)</td>
                        <td>@Html.DisplayNameFor(m => m.Streak)</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model)
                    {
                    <tr>
                        <td></td>
                        <td><img src="@item.TeamNav.WikipediaLogoUrl" class="teamLogo" /> @Html.ActionLink(item.TeamNav.FullName, "Details", "Teams", new { id = item.TeamID } )</td>
                        <td>@Html.DisplayFor(m => item.Wins)</td>
                        <td>@Html.DisplayFor(m => item.Losses)</td>
                        <td>@Html.DisplayFor(m => item.Percentage)</td>
                        <td>@Html.DisplayFor(m => item.GamesBack)</td>
                        <td>@Html.DisplayFor(m => item.ConferenceRecord)</td>
                        <td>@Html.DisplayFor(m => item.DivisionRecord)</td>
                        <td>@Html.DisplayFor(m => item.HomeRecord)</td>
                        <td>@Html.DisplayFor(m => item.AwayRecord)</td>
                        <td>@Html.DisplayFor(m => item.LastTen)</td>
                        <td>@Html.DisplayFor(m => item.Streak)</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
