@model NBAMvc1._1.ViewModels.TeamDetailsViewModel

@{
    ViewData["Title"] = Model.Team.Name;
}


<div class="container-fluid bg-white">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron jumbotron-fluid" style="background-color:#@Model.Team.PrimaryColor">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <img src="@Model.Team.WikipediaLogoUrl" class="teamLogoHeader" />
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 style="color:#@Model.Team.SecondaryColor">@Html.DisplayFor(model => model.Team.FullName)</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h5 style="color:#@Model.Team.SecondaryColor">@Model.Team.RecordNav.Wins - @Model.Team.RecordNav.Losses</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h5 style="color:#@Model.Team.SecondaryColor">@Model.ConferenceRank in the @Model.Team.Conference Conference</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-4 offset-8">
                                    <table class="table table- float-right" style="color:#@Model.Team.SecondaryColor">
                                        <thead>
                                            <tr>
                                                <td>PPG</td>
                                                <td>RPG</td>
                                                <td>APG</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><img src="@Model.PPGLeader.PhotoUrl" class="playerHeadShot" />@Model.PPGLeader.LastName</td>
                                                <td><img src="@Model.RPGLeader.PhotoUrl" class="playerHeadShot" />@Model.RPGLeader.LastName</td>
                                                <td><img src="@Model.APGLeader.PhotoUrl" class="playerHeadShot" />@Model.APGLeader.LastName</td>
                                            </tr>
                                            <tr>
                                                <td>@Model.PPGLeader.StatsNav.PPG</td>
                                                <td>@Model.RPGLeader.StatsNav.RPG</td>
                                                <td>@Model.APGLeader.StatsNav.APG</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h4>Roster</h4>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>@Html.ActionLink("Pos", "Details", new { sortOrder = ViewData["PosSortParam"] })</th>
                        <th>@Html.ActionLink("Player", "Details", new { sortOrder = ViewData["PlayerSortParam"] })</th>
                        <th>@Html.ActionLink("PPG", "Details", new { sortOrder = ViewData["PPGSortParam"] })</th>
                        <th>@Html.ActionLink("RPG", "Details", new { sortOrder = ViewData["RPGSortParam"] })</th>
                        <th>@Html.ActionLink("APG", "Details", new { sortOrder = ViewData["APGSortParam"] })</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var p in Model.Players)
                    {
                        <tr>
                            <td>@p.Position </td>
                            <td>@Html.ActionLink(p.FullName, "Details", "Players", new { id = p.PlayerID})</td>
                            <td>@p.StatsNav.PPG</td>
                            <td>@p.StatsNav.RPG</td>
                            <td>@p.StatsNav.APG</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h4>Recent Games</h4>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Home</th>
                        <th>Away</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var g in Model.Next3.Reverse())
                    {
                        <tr>
                            <td><a asp-controller="Games" asp-action="Details" asp-route-id="@g.GameID">@g.DateTime</a></td>
                            <td>
                                <a asp-controller="Teams" asp-action="Details" asp-route-id="@g.HomeTeamID">
                                    <img src="@g.HomeTeamNav.WikipediaLogoUrl" class="teamLogo" />
                                </a>
                            </td>
                            <td>
                                <a asp-controller="Teams" asp-action="Details" asp-route-id="@g.AwayTeamID">
                                    <img src="@g.AwayTeamNav.WikipediaLogoUrl" class="teamLogo" />
                                </a>
                            </td>
                            <td>Upcoming</td>
                        </tr>
                    }
                    @foreach (var g in Model.Last5)
                    {
                        <tr>
                            <td><a asp-controller="Games" asp-action="Details" asp-route-id="@g.GameID">@g.DateTime</a></td>
                            <td>
                                <a asp-controller="Teams" asp-action="Details" asp-route-id="@g.HomeTeamID">
                                    <img src="@g.HomeTeamNav.WikipediaLogoUrl" class="teamLogo" />
                                </a>
                            </td>
                            <td>
                                <a asp-controller="Teams" asp-action="Details" asp-route-id="@g.AwayTeamID">
                                    <img src="@g.AwayTeamNav.WikipediaLogoUrl" class="teamLogo" />
                                </a>
                            </td>
                            <td>@g.HomeTeamScore - @g.AwayTeamScore</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
 </div>
