@model NBAMvc1._1.ViewModels.TeamDetailsViewModel

@{
    ViewData["Title"] = "Details";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron jumbotron-fluid" style="background-color: @Model.Team.PrimaryColor">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="@Model.Team.WikipediaLogoUrl" class="teamLogo" />
                        </div>
                        <div class='col-md-8'>
                            <h1>@Html.DisplayFor(model => model.Team.FullName)</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Pos</th>
                        <th>Name</th>
                        <th>PPG</th>
                        <th>RPG</th>
                        <th>APG</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var p in Model.Team.Players)
                    {
                        <tr>
                            <td>@p.Position </td>
                            <td>@p.FirstName</td>
                            <td>@p.LastName</td>
                            <td>@p.StatsNav</td>
                            <td>@p.StatsNav</td>
                            <td>@p.StatsNav</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Home</th>
                        <th>Away</th>
                        <th>Score</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var g in Model.Last5)
                    {
                        <tr>
                            <td>@g.DateTime</td>
                            <td>@g.HomeTeamID</td>
                            <td>@g.AwayTeamID</td>
                            <td>@g.HomeTeamScore - @g.AwayTeamScore</td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
 </div>





<div>
    <a asp-action="Edit" asp-route-id="@Model.Team.TeamID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
