@model NBAMvc1._1.ViewModels.PlayerMyTeamCreateViewModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@{
    ViewData["Title"] = "Create";
}


<div class="container container-fluid bg-white">
    <div class="row">
        <div class="col-md-12">
            <h3>Add player to team</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" method="get">
                <div class="form-actions no-color">
                    <p>
                        Search: <input type="text" name="searchString" value="@ViewData["currentFilter"]" />
                        <input type="submit" value="Search" class="btn btn-primary" />
                    </p>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <td>Team</td>
                        <td>
                            <a asp-action="Create" asp-route-teamID="@Model.MyTeam.MyTeamID" asp-route-sortParam="@ViewData["playerSort"]" asp-route-pageNumber="@(Model.Players.PageIndex)"
                               asp-route-currentFilter="@ViewData["currentFilter"]" asp-route-posFilter="@ViewData["posFilter"]">Player%</a>
                        </td>
                        <td>Pos</td>
                        <td>
                            <a asp-action="Create" asp-route-teamID="@Model.MyTeam.MyTeamID" asp-route-sortParam="@ViewData["fgSort"]" asp-route-pageNumber="@(Model.Players.PageIndex)"
                               asp-route-currentFilter="@ViewData["currentFilter"]" asp-route-posFilter="@ViewData["posFilter"]">FG%</a>
                        </td>
                        <td>
                            <a asp-action="Create" asp-route-teamID="@Model.MyTeam.MyTeamID" asp-route-sortParam="@ViewData["ftSort"]" asp-route-pageNumber="@(Model.Players.PageIndex)"
                               asp-route-currentFilter="@ViewData["currentFilter"]" asp-route-posFilter="@ViewData["posFilter"]">FT%</a>
                        </td>
                        <td>
                            <a asp-action="Create" asp-route-teamID="@Model.MyTeam.MyTeamID" asp-route-sortParam="@ViewData["3ptSort"]" asp-route-pageNumber="@(Model.Players.PageIndex)"
                               asp-route-currentFilter="@ViewData["currentFilter"]" asp-route-posFilter="@ViewData["posFilter"]">3PT</a>
                        </td> 
                        <td>
                            <a asp-action="Create" asp-route-teamID="@Model.MyTeam.MyTeamID" asp-route-sortParam="@ViewData["ppgSort"]" asp-route-pageNumber="@(Model.Players.PageIndex)"
                               asp-route-currentFilter="@ViewData["currentFilter"]" asp-route-posFilter="@ViewData["posFilter"]">PPG</a>
                        </td>
                        <td>
                            <a asp-action="Create" asp-route-teamID="@Model.MyTeam.MyTeamID" asp-route-sortParam="@ViewData["apgSort"]" asp-route-pageNumber="@(Model.Players.PageIndex)"
                               asp-route-currentFilter="@ViewData["currentFilter"]" asp-route-posFilter="@ViewData["posFilter"]">APG</a>
                        </td>
                        <td>
                            <a asp-action="Create" asp-route-teamID="@Model.MyTeam.MyTeamID" asp-route-sortParam="@ViewData["rpgSort"]" asp-route-pageNumber="@(Model.Players.PageIndex)"
                               asp-route-currentFilter="@ViewData["currentFilter"]" asp-route-posFilter="@ViewData["posFilter"]">RPG</a>
                        </td>
                        <td>
                            <a asp-action="Create" asp-route-teamID="@Model.MyTeam.MyTeamID" asp-route-sortParam="@ViewData["spgSort"]" asp-route-pageNumber="@(Model.Players.PageIndex)"
                               asp-route-currentFilter="@ViewData["currentFilter"]" asp-route-posFilter="@ViewData["posFilter"]">SPG</a>
                        </td>
                        <td>
                            <a asp-action="Create" asp-route-teamID="@Model.MyTeam.MyTeamID" asp-route-sortParam="@ViewData["bpgSort"]" asp-route-pageNumber="@(Model.Players.PageIndex)"
                               asp-route-currentFilter="@ViewData["currentFilter"]" asp-route-posFilter="@ViewData["posFilter"]">BPG</a>
                        </td>
                        <td>
                            <a asp-action="Create" asp-route-teamID="@Model.MyTeam.MyTeamID" asp-route-sortParam="@ViewData["toSort"]" asp-route-pageNumber="@(Model.Players.PageIndex)"
                               asp-route-currentFilter="@ViewData["currentFilter"]" asp-route-posFilter="@ViewData["posFilter"]">TO</a>
                        </td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var p in Model.Players)
                    {
                        <tr>
                            <td><img src="@p.TeamNav.WikipediaLogoUrl" class="teamLogo" /></td>
                            <td>@Html.ActionLink(@p.FullName, "Details", new { id = p.PlayerID })</td>
                            <td>@Html.DisplayFor(m => p.Position)</td>
                            <td>@Html.DisplayFor(m => p.StatsNav.FieldGoalsPercentage)</td>
                            <td>@Html.DisplayFor(m => p.StatsNav.FreeThrowsPercentage)</td>
                            <td>@Html.DisplayFor(m => p.StatsNav.ThreePointersMade)</td>
                            <td>@Html.DisplayFor(m => p.StatsNav.PPG)</td>
                            <td>@Html.DisplayFor(m => p.StatsNav.APG)</td>
                            <td>@Html.DisplayFor(m => p.StatsNav.RPG)</td>
                            <td>@Html.DisplayFor(m => p.StatsNav.SPG)</td>
                            <td>@Html.DisplayFor(m => p.StatsNav.BPG)</td>
                            <td>@Html.DisplayFor(m => p.StatsNav.TPG)</td>
                            <td>
                                <form asp-action="Create">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <input type="hidden" asp-for="PlayerMyTeam.MyTeamID" class="form-control" value="@Model.MyTeam.MyTeamID" />
                                        <span asp-validation-for="PlayerMyTeam.MyTeamID" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="hidden" asp-for="PlayerMyTeam.PlayerID" class="form-control" value="@p.PlayerID" />
                                        <span asp-validation-for="PlayerMyTeam.MyTeamID" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Create" class="btn btn-primary" />
                                    </div>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @{
                var prevDisabled = !Model.Players.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.Players.HasNextPage ? "disabled" : "";
            }
            <a asp-action="Create" asp-route-teamID="@Model.MyTeam.MyTeamID" asp-route-sortParam="@ViewData["currentSort"]" asp-route-pageNumber="@(Model.Players.PageIndex - 1)"
               asp-route-currentFilter="@ViewData["currentFilter"]" asp-route-posFilter="@ViewData["posFilter"]" class="btn btn-primary @prevDisabled">Previous</a>
            <a asp-action="Create"  asp-route-teamID="@Model.MyTeam.MyTeamID" asp-route-sortParam="@ViewData["currentSort"]" asp-route-pageNumber="@(Model.Players.PageIndex + 1)"
               asp-route-currentFilter="@ViewData["currentFilter"]" asp-route-posFilter="@ViewData["posFilter"]" class="btn btn-primary @nextDisabled">Next</a>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
