@model NBAMvc1._1.ViewModels.PlayerDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron jumbotron-fluid" style="background-color:#@Model.Player.TeamNav.PrimaryColor">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="@Model.Player.PhotoUrl" class="playerHeaderPhoto" style="background-color:#@Model.Player.TeamNav.TertiaryColor" />
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1 style="color:#@Model.Player.TeamNav.SecondaryColor">#@Html.DisplayFor(m => m.Player.Jersey)  @Html.DisplayFor(m => m.Player.FullName) </h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 style="color:#@Model.Player.TeamNav.SecondaryColor"> @Html.DisplayFor(m => m.Player.TeamNav.FullName) <img src="@Model.Player.TeamNav.WikipediaLogoUrl" class="teamLogo" /></h3>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p style="color:#@Model.Player.TeamNav.SecondaryColor">
                                        Pos: @Html.DisplayFor(m => m.Player.Position) Hgt: @Html.DisplayFor(m => m.Player.Height) Wgt: @Html.DisplayFor(m => m.Player.Weight) DOB: @Html.DisplayFor(m => m.Player.BirthDate)
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <h5 style="color:#@Model.Player.TeamNav.SecondaryColor">2018-2019 Stats</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table float-right" style="color:#@Model.Player.TeamNav.SecondaryColor;">
                                        <thead>
                                            <tr>
                                                <td>PPG</td>
                                                <td>3PG</td>
                                                <td>RPG</td>
                                                <td>APG</td>
                                                <td>SPG</td>
                                                <td>BPG</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>@Model.Player.StatsNav.PPG</td>
                                                <td>@Model.Player.StatsNav.ThreesPG</td>
                                                <td>@Model.Player.StatsNav.Rebounds</td>
                                                <td>@Model.Player.StatsNav.Assists</td>
                                                <td>@Model.Player.StatsNav.SPG</td>
                                                <td>@Model.Player.StatsNav.BPG</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h5>Game Log</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <td>Date</td>
                        <td>Opponent</td>
                        <td>Min</td>
                        <td>FG</td>
                        <td>FGA</td>
                        <td>FG%</td>
                        <td>3PT</td>
                        <td>3PA</td>
                        <td>3P%</td>
                        <td>FT</td>
                        <td>FTA</td>
                        <td>FT%</td>
                        <td>ORB</td>
                        <td>DRB</td>
                        <td>TRB</td>
                        <td>AST</td>
                        <td>STL</td>
                        <td>BLK</td>
                        <td>TO</td>
                        <td>PF</td>
                        <td>PTS</td>
                        <td>+/-</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var g in Model.GameLogs)
                    {
                        if (g != null)
                        {
                            <tr>
                                <td>@Html.DisplayFor(m => g.GameNav.DateTime) </td>
                                <td><img src="@((g.GameNav.HomeTeamID == Model.Player.TeamID) ? g.GameNav.AwayTeamNav.WikipediaLogoUrl : g.GameNav.HomeTeamNav.WikipediaLogoUrl)" class="teamLogo" /></td>
                                <td>@Html.DisplayFor(m => g.Minutes)</td>
                                <td>@Html.DisplayFor(m => g.FieldGoalsMade)</td>
                                <td>@Html.DisplayFor(m => g.FieldGoalsAttempted)</td>
                                <td>@Html.DisplayFor(m => g.FieldGoalsPercentage)</td>
                                <td>@Html.DisplayFor(m => g.ThreePointersMade)</td>
                                <td>@Html.DisplayFor(m => g.ThreePointersAttempted)</td>
                                <td>@Html.DisplayFor(m => g.ThreePointersPercentage)</td>
                                <td>@Html.DisplayFor(m => g.FreeThrowsMade)</td>
                                <td>@Html.DisplayFor(m => g.FreeThrowsAttempted)</td>
                                <td>@Html.DisplayFor(m => g.FreeThrowsPercentage)</td>
                                <td>@Html.DisplayFor(m => g.OffensiveRebounds)</td>
                                <td>@Html.DisplayFor(m => g.DefensiveRebounds)</td>
                                <td>@Html.DisplayFor(m => g.Rebounds)</td>
                                <td>@Html.DisplayFor(m => g.Assists)</td>
                                <td>@Html.DisplayFor(m => g.Steals)</td>
                                <td>@Html.DisplayFor(m => g.BlockedShots)</td>
                                <td>@Html.DisplayFor(m => g.Turnovers)</td>
                                <td>@Html.DisplayFor(m => g.PersonalFouls)</td>
                                <td>@Html.DisplayFor(m => g.Points)</td>
                                <td>@Html.DisplayFor(m => g.PlusMinus)</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

