@model NBAMvc1._1.Utils.PaginatedList<NBAMvc1._1.Models.Player>

@{
    ViewData["Title"] = "Players";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>All Players</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            @using (Html.BeginForm()){
                <p>
                    Search by name: @Html.TextBox("searchString", ViewData["currentFilter"] as string)
                    <input type="submit" value="Search" />
                </p>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-responsive table-hover">
                <thead>
                    <tr>
                        <td>Team</td>
                        <td>@Html.ActionLink("Player", "Index", new { sortParam = ViewData["playerSort"], currentFilter = ViewData["currentFilter"] }) </td>
                        <td>Pos</td>
                        <td>@Html.ActionLink("FG%", "Index", new { sortParam = ViewData["fgSort"], currentFilter = ViewData["currentFilter"] }) </td>
                        <td>@Html.ActionLink("FT%", "Index", new { sortParam = ViewData["ftSort"], currentFilter = ViewData["currentFilter"] }) </td>
                        <td>@Html.ActionLink("3PT", "Index", new { sortParam = ViewData["3ptSort"], currentFilter = ViewData["currentFilter"] }) </td>
                        <td>@Html.ActionLink("PPG", "Index", new { sortParam = ViewData["ppgSort"], currentFilter = ViewData["currentFilter"] }) </td>
                        <td>@Html.ActionLink("APG", "Index", new { sortParam = ViewData["apgSort"], currentFilter = ViewData["currentFilter"] }) </td>
                        <td>@Html.ActionLink("RPG", "Index", new { sortParam = ViewData["rpgSort"], currentFilter = ViewData["currentFilter"] }) </td>
                        <td>@Html.ActionLink("SPG", "Index", new { sortParam = ViewData["spgSort"], currentFilter = ViewData["currentFilter"] }) </td>
                        <td>@Html.ActionLink("BPG", "Index", new { sortParam = ViewData["bpgSort"], currentFilter = ViewData["currentFilter"] }) </td>
                        <td>@Html.ActionLink("TO", "Index", new { sortParam = ViewData["toSort"], currentFilter = ViewData["currentFilter"] }) </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var p in Model)
                    {
                    <tr>
                        <td><img src="@p.TeamNav.WikipediaLogoUrl" class="teamLogo"/></td>
                        <td>@Html.DisplayFor(m => p.FullName)</td>
                        <td>@Html.DisplayFor(m => p.Position)</td>
                        <td>@Html.DisplayFor(m => p.StatsNav.FieldGoalsPercentage)</td>
                        <td>@Html.DisplayFor(m => p.StatsNav.FreeThrowsPercentage)</td>
                        <td>@Html.DisplayFor(m => p.StatsNav.ThreePointersMade)</td>
                        <td>@Html.DisplayFor(m => p.StatsNav.PPG)</td>
                        <td>@Html.DisplayFor(m => p.StatsNav.APG)</td>
                        <td>@Html.DisplayFor(m => p.StatsNav.RPG)</td>
                        <td>@Html.DisplayFor(m => p.StatsNav.SPG)</td>
                        <td>@Html.DisplayFor(m => p.StatsNav.BPG)</td>
                        <td>@Html.DisplayFor(m => p.StatsNav.TPG)</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }
            @Model.PageIndex
            @Html.ActionLink("Previous", "Index", new { sortParam = ViewData["currentSort"], page = 3, currentFilter = ViewData["currentFilter"]})
            <a class="btn btn-primary @prevDisabled" asp-action="Index" asp-route-sortParam="@ViewData["currentSort"]" asp-route-page="@(Model.PageIndex - 1)" asp-route-currentFilter="@ViewData["currentFilter"]">Previous</a>
            <a class="btn btn-primary @nextDisabled" asp-action="Index" asp-route-sortParam="@ViewData["currentSort"]" asp-route-page="@(Model.PageIndex + 1)" asp-route-currentFilter="@ViewData["currentFilter"]">Next</a>
        </div>
    </div>
</div>
