@model NBAMvc1._1.Models.PlayerGameStats

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PlayerGameStats</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Updated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Updated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Minutes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Minutes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FieldGoalsMade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FieldGoalsMade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FieldGoalsAttempted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FieldGoalsAttempted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FieldGoalsPercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FieldGoalsPercentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThreePointersMade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThreePointersMade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThreePointersAttempted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThreePointersAttempted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThreePointersPercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThreePointersPercentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FreeThrowsMade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FreeThrowsMade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FreeThrowsAttempted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FreeThrowsAttempted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FreeThrowsPercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FreeThrowsPercentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OffensiveRebounds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OffensiveRebounds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DefensiveRebounds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DefensiveRebounds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rebounds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rebounds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Assists)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Assists)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Steals)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Steals)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlockedShots)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlockedShots)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Turnovers)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Turnovers)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonalFouls)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonalFouls)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Points)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Points)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlusMinus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlusMinus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerNav)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayerNav.PlayerID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameNav)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameNav.GameID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StatID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
