@model IEnumerable<NBAMvc1._1.Models.PlayerSeasonStats>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Games)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FieldGoalsPercentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FreeThrowsPercentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThreePointersMade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Points)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Assists)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rebounds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Steals)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlockedShots)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turnovers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayNav)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Games)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FieldGoalsPercentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FreeThrowsPercentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThreePointersMade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Points)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Assists)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rebounds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Steals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlockedShots)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turnovers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayNav.PlayerID)
            </td>
        </tr>
}
    </tbody>
</table>
