@model NBAMvc1._1.ViewModels.FantasyMatchupDetailsViewModel
    
@{
    ViewData["Title"] = "Details";
    string winner = (Model.HomeScore > Model.AwayScore ? "home" : "away");
    
}

    <script src="~/js/matchupajax.js"></script>
    <div class="container container-fluid bg-white">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3><a asp-controller="FantasyLeagues" asp-action="Details" asp-route-id="@Model.FantasyMatchup.FantasyLeagueID">@Model.FantasyMatchup.FantasyLeagueNav.Name</a></h3>
                <h6>Week (@Model.FantasyMatchup.Week) -- @Model.Date.ToShortDateString() - <span class="@(Model.FantasyMatchup.Status == "In Progress" ? "in-progress": "not-in-progress")">@Model.FantasyMatchup.Status</span> </h6>
                <h6>
                    <span class="@(Model.HomeScore < Model.AwayScore ? "matchup-header-winner" : " ")">
                        @Model.AwayScore : @Model.FantasyMatchup.AwayTeamNav.Name
                    </span>
                    <span style="color:red">VS</span>
                    <span class="@(Model.HomeScore > Model.AwayScore ? "matchup-header-winner" : " ")">
                        @Model.FantasyMatchup.HomeTeamNav.Name : @Model.HomeScore
                    </span>
                    <span id="matchID">@Model.FantasyMatchup.FantasyMatchupID</span>
                </h6>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card w-100 matchups-card">
                    <div class="card-header">
                        <div class="text-center"><a asp-controller="MyTeams" asp-action="Details" asp-route-id="@Model.FantasyMatchup.AwayTeamID">@Model.FantasyMatchup.AwayTeamNav.Name</a></div>
                        <div class="text-center">@Model.FantasyMatchup.AwayTeamNav.UserNav.UserName</div>
                    </div>
                    <div class="card-body text-center">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Pos</th>
                                    <th>Player</th>
                                    <th>Opp</th>
                                    <th>FPS</th>
                                    <th>Pts</th>
                                    <th>Ast</th>
                                    <th>Rbd</th>
                                    <th>Stl</th>
                                    <th>Blk</th>
                                    <th>TO</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (KeyValuePair<string, Player> entry in Model.AwayRoster)
                                {
                                <tr>
                                    <td>@entry.Key</td>
                                    @if (entry.Value != null)
                                    {
                                        <td><a asp-controller="Players" asp-action="Details" asp-route-id="@entry.Value.PlayerID">@entry.Value.FullName</a></td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                    <td>
                                        @if (Model.AwayOpp[entry.Key] != null)
                                        {
                                            <img src="@Model.AwayOpp[entry.Key]" class="teamLogoSM" />
                                        }
                                    </td>
                                    <td>
                                        @(Model.AwayStats[entry.Key] != null ? Model.AwayStats[entry.Key].FantasyPoints : 0)
                                    </td>
                                    <td>
                                        @(Model.AwayStats[entry.Key] != null ? Model.AwayStats[entry.Key].Points : 0)
                                    </td>
                                    <td>
                                        @(Model.AwayStats[entry.Key] != null ? Model.AwayStats[entry.Key].Assists : 0)
                                    </td>
                                    <td>
                                        @(Model.AwayStats[entry.Key] != null ? Model.AwayStats[entry.Key].Rebounds : 0)
                                    </td>
                                    <td>
                                        @(Model.AwayStats[entry.Key] != null ? Model.AwayStats[entry.Key].Steals : 0)
                                    </td>
                                    <td>
                                        @(Model.AwayStats[entry.Key] != null ? Model.AwayStats[entry.Key].BlockedShots : 0)
                                    </td>
                                    <td>
                                        @(Model.AwayStats[entry.Key] != null ? Model.AwayStats[entry.Key].Turnovers : 0)
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer text-center">
                        <div class="text-center">Score: @Model.AwayScore</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card w-100 matchups-card">
                    <div class="card-header">
                        <div class="text-center"><a asp-controller="MyTeams" asp-action="Details" asp-route-id="@Model.FantasyMatchup.HomeTeamID">@Model.FantasyMatchup.HomeTeamNav.Name</a></div>
                        <div class="text-center">@Model.FantasyMatchup.HomeTeamNav.UserNav.UserName</div>
                    </div>
                    <div class="card-body text-center">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Pos</th>
                                    <th>Player</th>
                                    <th>Opp</th>
                                    <th>FPS</th>
                                    <th>Pts</th>
                                    <th>Ast</th>
                                    <th>Rbd</th>
                                    <th>Stl</th>
                                    <th>Blk</th>
                                    <th>TO</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (KeyValuePair<string, Player> entry in Model.HomeRoster)
                                {
                                    <tr>
                                        <td>@entry.Key</td>
                                        @if (entry.Value != null)
                                        {
                                            <td><a asp-controller="Players" asp-action="Details" asp-route-id="@entry.Value.PlayerID">@entry.Value.FullName</a></td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }
                                        <td>
                                            @if (Model.HomeOpp[entry.Key] != null)
                                            {
                                                <img src="@Model.HomeOpp[entry.Key]" class="teamLogoSM" />
                                            }
                                        </td>
                                        <td>
                                            @(Model.HomeStats[entry.Key] != null ? Model.HomeStats[entry.Key].FantasyPoints : 0)
                                        </td>
                                        <td>
                                            @(Model.HomeStats[entry.Key] != null ? Model.HomeStats[entry.Key].Points : 0)
                                        </td>
                                        <td>
                                            @(Model.HomeStats[entry.Key] != null ? Model.HomeStats[entry.Key].Assists : 0)
                                        </td>
                                        <td>
                                            @(Model.HomeStats[entry.Key] != null ? Model.HomeStats[entry.Key].Rebounds : 0)
                                        </td>
                                        <td>
                                            @(Model.HomeStats[entry.Key] != null ? Model.HomeStats[entry.Key].Steals : 0)
                                        </td>
                                        <td>
                                            @(Model.HomeStats[entry.Key] != null ? Model.HomeStats[entry.Key].BlockedShots : 0)
                                        </td>
                                        <td>
                                            @(Model.HomeStats[entry.Key] != null ? Model.HomeStats[entry.Key].Turnovers : 0)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer text-center">
                        <div class="text-center">Score: @Model.HomeScore</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
