@model NBAMvc1._1.ViewModels.FantasyMatchupDetailsViewModel
    
@{
    ViewData["Title"] = "Details";

}
    <script src="~/js/matchupajax.js"></script>
    <div class="container container-fluid bg-white">
        <div class="row">
            <div class="col-md-12 text-center">
                <span style="display:none" id="matchID">@Model.FantasyMatchup.FantasyMatchupID</span>
                <h3><a asp-controller="FantasyLeagues" asp-action="Details" asp-route-id="@Model.FantasyMatchup.FantasyLeagueID">@Model.FantasyMatchup.FantasyLeagueNav.Name</a></h3>
                <h6>Week (@Model.FantasyMatchup.Week) -- @Model.Date.ToShortDateString()</h6>
                <h6>
                    <span class="@(Model.FantasyMatchup.Status == "In Progress" ? "in-progress": "not-in-progress")">@Model.FantasyMatchup.Status</span>
                    <span id="homeScore">###</span>
                    <span style="color:red">VS</span>
                    <span id="awayScore">###</span>
                </h6>
                <hr />
            </div>
        </div>
        <div id="rosterPartial"></div>
    </div>    