@model NBAMvc1._1.Models.News

@{
    ViewData["Title"] = "Details";
}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="margin: 5px; background-color: #@Model.PlayerNav.TeamNav.PrimaryColor">
                <div class="row">
                    <div class="col-md-8 offset-2">
                        <strong style="color: #ffffff">@Model.Title -- @Model.Updated</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 playerNewsPhotoDiv">
                        <img src="@Model.PlayerNav.PhotoUrl" class="playerNewsPhoto" />
                    </div>
                    <div class="col-md-8" style="background-color: #@Model.PlayerNav.TeamNav.PrimaryColor">
                        <div style="color: #ffffff">@Model.Content</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 offset-2">
                        <a class="playerNewsHash" style="color: #@Model.PlayerNav.TeamNav.SecondaryColor" asp-controller="Players" asp-action="Details" asp-route-id="@Model.PlayerID">#@Model.PlayerNav.FullName</a>
                        <a class="playerNewsHash" style="color: #@Model.PlayerNav.TeamNav.SecondaryColor" asp-controller="Teams" asp-action="Details" asp-route-id="@Model.PlayerNav.TeamID">#@Model.PlayerNav.TeamNav.FullName</a>
                    </div>
                </div>
            </div>
        </div>
     </div>
